// Margin
// ==========================================================================

.margin-top-xsmall			{ margin-top: ($box-space/4)*2; }
.margin-top-small 			{ margin-top: ($box-space/4)*3; }
.margin-top 				{ margin-top: $box-space; }
.margin-top-large			{ margin-top: ($box-space/4)*5; }
.margin-top-xlarge 			{ margin-top: ($box-space/4)*6; }

.margin-bottom-xxsmall		{ margin-bottom: ($box-space/4); }
.margin-bottom-xsmall		{ margin-bottom: ($box-space/4)*2; }
.margin-bottom-small 		{ margin-bottom: ($box-space/4)*3; }
.margin-bottom 				{ margin-bottom: $box-space; }
.margin-bottom-large		{ margin-bottom: ($box-space/4)*5; }
.margin-bottom-xlarge 		{ margin-bottom: ($box-space/4)*6; }
.margin-bottom-75	 		{ margin-bottom: 75px; }

.margin-right-xsmall		{ margin-right: ($box-space/4)*2; }
.margin-right-small 		{ margin-right: ($box-space/4)*3; }
.margin-right 				{ margin-right: $box-space; }
.margin-right-large			{ margin-right: ($box-space/4)*5; }
.margin-right-xlarge 		{ margin-right: ($box-space/4)*6; }

.margin-left-xsmall			{ margin-left: ($box-space/4)*2; }
.margin-left-small 			{ margin-left: ($box-space/4)*3; }
.margin-left 				{ margin-left: $box-space; }
.margin-left-large			{ margin-left: ($box-space/4)*5; }
.margin-left-xlarge 		{ margin-left: ($box-space/4)*6; }

.margin-top-bottom-xsmall	{ margin-top: ($box-space/4)*2; 	margin-bottom: ($box-space/4)*2; }
.margin-top-bottom-small 	{ margin-top: ($box-space/4)*3; 	margin-bottom: ($box-space/4)*3; }
.margin-top-bottom 			{ margin-top: $box-space; 			margin-bottom: $box-space; }
.margin-top-bottom-large	{ margin-top: ($box-space/4)*5; 	margin-bottom: ($box-space/4)*5; }
.margin-top-bottom-xlarge 	{ margin-top: ($box-space/4)*6; 	margin-bottom: ($box-space/4)*6; }

.margin-left-right-xsmall	{ margin-left: ($box-space/4)*2; 	margin-right: ($box-space/4)*2; }
.margin-left-right-small 	{ margin-left: ($box-space/4)*3; 	margin-right: ($box-space/4)*3; }
.margin-left-right 			{ margin-left: $box-space; 			margin-right: $box-space; }
.margin-left-right-large	{ margin-left: ($box-space/4)*5; 	margin-right: ($box-space/4)*5; }
.margin-left-right-xlarge 	{ margin-left: ($box-space/4)*6; 	margin-right: ($box-space/4)*6; }

.no-margin-top 				{ margin-top: 0px; }
.no-margin-bottom 			{ margin-bottom: 0px; }
.no-margin-right 			{ margin-right: 0px; }
.no-margin-left 			{ margin-left: 0px; }
.margin-auto 				{ margin-left: auto; margin-right: auto; }

@media #{$sm-and-down}{
	.margin-bottom-large_sm-and-down		{ margin-bottom: ($box-space/4)*6; }
	.margin-bottom-small_sm-and-down		{ margin-bottom: ($box-space/4)*3; }
	.margin-bottom-xsmall_sm-and-down		{ margin-bottom: ($box-space/4)*2; }
}


// Padding
// ==========================================================================
.padding-top-xsmall			{ padding-top: ($box-space/4)*2; }
.padding-top-small 			{ padding-top: ($box-space/4)*3; }
.padding-top 				{ padding-top: $box-space; }
.padding-top-large			{ padding-top: ($box-space/4)*5; }
.padding-top-xlarge 		{ padding-top: ($box-space/4)*6; }
.padding-top-50 			{ padding-top: 50px; }

.padding-bottom-xsmall		{ padding-bottom: ($box-space/4)*2; }
.padding-bottom-small 		{ padding-bottom: ($box-space/4)*3; }
.padding-bottom 			{ padding-bottom: $box-space; }
.padding-bottom-large		{ padding-bottom: ($box-space/4)*5; }
.padding-bottom-xlarge 		{ padding-bottom: ($box-space/4)*6; }
.padding-bottom-40	 		{ padding-bottom: 40px; }

.padding-right-xsmall		{ padding-right: ($box-space/4)*2; }
.padding-right-small 		{ padding-right: ($box-space/4)*3; }
.padding-right 				{ padding-right: $box-space; }
.padding-right-large		{ padding-right: ($box-space/4)*5; }
.padding-right-xlarge 		{ padding-right: ($box-space/4)*6; }
.padding-right-50 			{ padding-right: 50px; }

.padding-left-xsmall		{ padding-left: ($box-space/4)*2; }
.padding-left-small 		{ padding-left: ($box-space/4)*3; }
.padding-left 				{ padding-left: $box-space; }
.padding-left-large			{ padding-left: ($box-space/4)*5; }
.padding-left-xlarge 		{ padding-left: ($box-space/4)*6; }
.padding-left-50 			{ padding-left: 50px; }

.padding-top-bottom-xsmall	{ padding-top: ($box-space/4)*2; 	padding-bottom: ($box-space/4)*2; }
.padding-top-bottom-small 	{ padding-top: ($box-space/4)*3; 	padding-bottom: ($box-space/4)*3; }
.padding-top-bottom 		{ padding-top: $box-space; 			padding-bottom: $box-space; }
.padding-top-bottom-large	{ padding-top: ($box-space/4)*5; 	padding-bottom: ($box-space/4)*5; }
.padding-top-bottom-xlarge 	{ padding-top: ($box-space/4)*6; 	padding-bottom: ($box-space/4)*6; }
.padding-top-bottom-slarge 	{ padding-top: 80px; 				padding-bottom: 80px; }

.padding-left-right-xsmall	{ padding-left: ($box-space/4)*2; 	padding-right: ($box-space/4)*2; }
.padding-left-right-small 	{ padding-left: ($box-space/4)*3; 	padding-right: ($box-space/4)*3; }
.padding-left-right 		{ padding-left: $box-space; 		padding-right: $box-space; }
.padding-left-right-large	{ padding-left: ($box-space/4)*5; 	padding-right: ($box-space/4)*5; }
.padding-left-right-xlarge 	{ padding-left: ($box-space/4)*6; 	padding-right: ($box-space/4)*6; }

.no-padding-top 			{ padding-top: 0px; }
.no-padding-bottom 			{ padding-bottom: 0px; }
.no-padding-right 			{ padding-right: 0px; }
.no-padding-left 			{ padding-left: 0px; }

//  Padding bottom 1% to 100%
$i: 1;
@while $i <= $size-percent {
	.padding-bottom-#{$i}#{"p"} {
		padding-bottom: #{$i}#{"%"};
	}
	$i: $i + 1; 
}


// Size
// ==========================================================================

$i: 1;
@while $i <= $size-percent {
	.width-#{$i}#{"p"} {
		width: #{$i}#{"%"};
	}
	$i: $i + 1; 
}

$i: 1;
@while $i <= $size-percent {
	.height-#{$i}#{"p"} {
		height: #{$i}#{"%"};
	}
	$i: $i + 1; 
}