// Buttons
// ==========================================================================

.btn {
	display: inline-block;
	padding: 0 20px;
	color: $light-color;
	text-align: center;
	line-height: 40px;
	border-radius: 3px;
	background-color: $purple-color;
	transition: .3s ease-out;
	cursor: pointer;
	@extend .shadow-small;
	&:hover {
		color: $light-color!important;
		text-decoration: none!important;
		background-color: $uva-color;
		@extend .shadow;
	}
}