// Buttons
// ==========================================================================

.btn {
	display: inline-block;
	padding: 0 20px;
	color: $light-color;
	text-align: center;
	line-height: 40px;
	border-radius: 3px;
	background-color: $purple-color;
	transition: .3s ease-out;
	cursor: pointer;
	@extend .shadow-small;
	&.btn-pink { background-color: $pink-color; } 	
	&:hover,
	&.btn-pink:hover {
		color: $light-color!important;
		text-decoration: none!important;
		background-color: $uva-color;
		@extend .shadow;
	}
}

.btn-twitter {
	background-color: #00acee;
	color: $light-color!important;
	line-height: 28px;
	padding: 0 10px;
	font-size: 13px;
	em {
		font-size: 10px;
		margin-right: 2px;
	}
	&:hover  {
		background-color: #08a1db;
	}
}