// Color
// ==========================================================================

.color-primary 			{ color: $primary-color; }
.color-light 			{ color: $light-color; }
.color-dark 			{ color: $dark-color; }
.color-blue 			{ color: $blue-color; }
.color-pink 			{ color: $pink-color; }
.color-red 				{ color: $red-dark-color; }
.color-yellow 			{ color: $yellow-color; }

// Bg Color
// ==========================================================================

.bg-light 						{ background-color: $light-color; }
.bg-orange 						{ background-color: $orange-color; }
.bg-blue						{ background-color: $blue-color; }

.bg-degrade-pink_to_yellow  	{ background-image: linear-gradient(to right, $pink-color 10%, $orange-color, $yellow-color); }
.bg-degrade-pink_to_yellow_large{ background-image: linear-gradient(to right, $pink-color 35%, $orange-color, $yellow-color); }