// Effects
// ==========================================================================

.rotate-180 { transform: rotate(180deg); }

.shadow 		{ box-shadow: 4px 4px 13px 0 rgba(84, 84, 84, 0.37); }
@mixin shadow 	{ box-shadow: 4px 4px 13px 0 rgba(84, 84, 84, 0.37); } /* For @media */
.shadow-small {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),
              0 3px 1px -2px rgba(0,0,0,0.12),
              0 1px 5px 0 rgba(0,0,0,0.2);
}

.text-shadow { text-shadow: 2px 2px 5px #505050bd; }

.img-shadow { 
	filter: drop-shadow(1px 1px 2px #6f6f6f);
	-webkit-filter: drop-shadow(1px 1px 2px #6f6f6f);
}
.img-shadow-clare { 
	filter: drop-shadow(1px 1px 5px #d7d7d7);
	-webkit-filter: drop-shadow(1px 1px 5px #d7d7d7);
}
.img-shadow-pink { 
	filter: drop-shadow(5px 10px 10px #c96065);
	-webkit-filter: drop-shadow(5px 10px 10px #c96065);
}


%transition 	{ transition: .1s ease-out; }
%transition3 	{ transition: .3s ease-out; }


.pulse {
	position: absolute;
	top: 8px;
	right: 15px;
	display: block;
	width: 5px;
	height: 5px;
	border-radius: 50%;
	cursor: pointer;
	box-shadow: 0 0 0 rgba(194,72,113, 0.15);
	animation: pulse 1s infinite;
}
.pulse:hover {
	animation: none;
}

@-webkit-keyframes pulse {
	0% {
		-webkit-box-shadow: 0 0 0 10px rgba(194,72,113, 0.2);
	}
	25% {
		-webkit-box-shadow: 0 0 0 15px rgba(194,72,113, 0.15);
	}
	50% {
		-webkit-box-shadow: 0 0 0 25px rgba(194,72,113, 0.1);
	}
	75% {
		-webkit-box-shadow: 0 0 0 15px rgba(194,72,113, 0.15);
	}
	100% {
		-webkit-box-shadow: 0 0 0 10px rgba(194,72,113, 0.2);
	}
}
@keyframes pulse {
	0% {
		-moz-box-shadow: 0 0 0 10px rgba(194,72,113, 0.2);
		box-shadow: 0 0 0 10px rgba(194,72,113, 0.2);
	}
	25% {
		-moz-box-shadow: 0 0 0 15px rgba(194,72,113, 0.15);
		box-shadow: 0 0 0 15px rgba(194,72,113, 0.15);
	}
	50% {
		-moz-box-shadow: 0 0 0 25px rgba(194,72,113, 0.1);
		box-shadow: 0 0 0 25px rgba(194,72,113, 0.1);
	}
	75% {
		-moz-box-shadow: 0 0 0 15px rgba(194,72,113, 0.15);
		box-shadow: 0 0 0 15px rgba(194,72,113, 0.15);
	}
	100% {
		-moz-box-shadow: 0 0 0 10px rgba(194,72,113, 0.2);
		box-shadow: 0 0 0 10px rgba(194,72,113, 0.2);
	}
}