// Effects
// ==========================================================================

.rotate-180 { transform: rotate(180deg); }

@mixin shadow {
  box-shadow: 4px 2px 2px 0 rgba(155, 155, 155, 0.14);
}
%shadow {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),
              0 3px 1px -2px rgba(0,0,0,0.12),
              0 1px 5px 0 rgba(0,0,0,0.2);
}

%transition 	{ transition: .1s ease-out; }
%transition3 	{ transition: .3s ease-out; }