footer {
	position: absolute;
	bottom: 0px;
	width: 100%;
	text-align: center;
	box-shadow: 0px -5px 20px 0 rgba(0, 0, 0, 0.14);
	//.row { margin-bottom: -1px; }
	.footer-necesitas-ayuda a {
		padding-top: 60px;
		padding-bottom: 60px;
		transition: .3s ease-out;
		color: $primary-color;
		img { width: 100px; }
		h2 { 
			text-shadow: 1px 1px 5px #00000026;
			@extend %transition3;
		}
		&:hover h2 { color: $pink-color; }
		@media #{$small-and-down} {
			padding-top: 30px;
			padding-bottom: 30px;
		}
	}
	.footer-logos {
		padding-top: 40px!important;
		padding-bottom: 40px!important;
		p { 
			font-size: 14px;
			line-height: 18px;
		}
		img {
			display: inline-block;
			height: 40px;
			margin-left: 10px;
			margin: 10px;
		}
		@media #{$small-and-down} {
			padding-top: 0px!important;
			padding-bottom: 30px!important;
		}
	}
}