footer {
	position: absolute;
	bottom: 0px;
	width: 100%;
	text-align: center;
	.footer-necesitas-ayuda {
		background-image: linear-gradient(to right, $primary-color , $purple-color, $pink-color);
		padding-top: 30px!important;
		padding-bottom: 30px!important;
		img {
			width: 100px;
		}
		h2 {
			color: $light-color;
			text-transform: uppercase;
		}
	}
	.footer-logos {
		background-color: $light-color;
		padding-top: 20px!important;
		padding-bottom: 20px!important;
		p { 
			font-size: 9px;
			line-height: 12px;
		}
		img {
			display: inline-block;
			height: 40px;
			margin-left: 10px;
			margin: 10px;
		}
	}
}