// Forms
// ==========================================================================

input:not([type="submit"]),
textarea {
	margin-bottom: 10px;
	padding: 0 10px;
	width: 100%;	
	max-width: 100%;
	line-height: 30px;
	background-color: $light-color;
	border-radius: 10px;
	border: 0px;
	outline: none;
}
textarea {
	height: 100px;
}
input[type="submit"] {
    display: block;
    color: $light-color;
    background-color: $primary-color;  
    cursor: pointer;
}

//Hide button input date
::-webkit-inner-spin-button {
    display: none;
    -webkit-appearance: none;
}