// Image
// ==========================================================================

img.responsive-img,
video.responsive-video {
  max-width: 100%;
  height: auto;
}

.centerfull-image {
	position: absolute;
	top: 0px; bottom: 0px;
	left: 0px; right: 0px;
	margin: auto;
}


// Bg Image
// ==========================================================================
.bg-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  &.bg-contain { background-size: contain; }
  &.bg-repeat { background-repeat: repeat; }
}

.bg-responsive {
	max-width: 100%;
}

.bg-absolute { 
	position: absolute;
	top: 0; bottom: 0; 
	left: 0; right: 0;
}


/* INDEX */

/* Video */
#intro-video {
	box-shadow: 0px 7px 2px 0 rgba(0, 0, 0, 0.3);
	margin-bottom: -6px;
	background-color: $dark-color;
	video {
		max-height: 100vh;
	}
	#videoPortada {
		transition: .2s ease-out;
		/* margin-bottom: -6px; */
		&.hide {
			display: block;
			opacity: 0;
			z-index: -1;			
		}
		#buttonPlay {
			width: 85px;
			height: 60px;
			color: #fff;
			text-align: center;
			font-size: 30px;
			line-height: 60px;
			background-color: #dc0000;
			border-radius: 10px;
			box-shadow: 4px 2px 2px 0 rgba(155, 155, 155, 0.14);
			cursor: pointer;
		}
	}
	#videoControles {
		position: absolute;
	    right: 20px;
	    bottom: 20px;
	    @media #{$small-and-down} {
			right: 10px;
			top: 10px;
			bottom: inherit;
	    }
	    em {
	    	font-size: 25px;
	    	cursor: pointer;
	    	color: $pink-color;
	    	text-shadow: 2px 2px 2px #00000038;
	    }
	}	
}

#intro-que-hacemos img{ width: 80px; }

#gallery .bg-image { 
	padding-bottom: 30%; 
	@media #{$sm-and-down}{ padding-bottom: 50%; }
}

/* PAGE */
#body-page img {
	@extend .responsive-img;
}

/* Templete title complete */
#title-complete {
	img { 
		height: 50px;
	    vertical-align: middle;    
	    @media #{$medium-and-up} { margin-right: 20px; }
	}
	@media #{$small-and-down}{
		text-align: center;
		img {
			display: block;
			margin-left: auto;
			margin-right: auto; 
			margin-bottom: 10px;
		}
	}	
} 

/* Testimoniales */

#testimoniales {
	img {
		display: block;
		&.aligncenter { margin: auto; }
		&.alignright { 
			float: right;  
			margin-left: 10px;
		}
		&.alignleft { 
			float: left;  
			margin-right: 10px;
		}
		@media #{$medium-and-down} {
			&.alignright, &.alignleft { 
				margin: 10px 0;
				float: none; 
			} 
		}
	}
	.wp-video {
		margin: auto;
	}
}

/* Historia */
.content-historia {
	figure {
		overflow: auto; 
		img {
			min-width: 680px;
			@media #{$small-and-down} { min-width: 850px;  }
		}
	}
}