// Image
// ==========================================================================

img.responsive-img,
video.responsive-video {
  max-width: 100%;
  height: auto;
}

.centerfull-image {
	position: absolute;
	top: 0px; bottom: 0px;
	left: 0px; right: 0px;
	margin: auto;
}


// Bg Image
// ==========================================================================
.bg-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  &.bg-contain { background-size: contain; }
  &.bg-repeat { background-repeat: repeat; }
}

.bg-responsive {
	max-width: 100%;
}

.bg-absolute { 
	position: absolute;
	top: 0; bottom: 0; 
	left: 0; right: 0;
}


/* INDEX */

/* Video */
#intro-video {
	video {
		margin-bottom: -6px;
	}
	#videoPortada {
		transition: .2s ease-out;
		&.hide {
			display: block;
			opacity: 0;
			z-index: -1;			
		}
		#buttonPlay {
			width: 85px;
			height: 60px;
			color: #fff;
			text-align: center;
			font-size: 30px;
			line-height: 60px;
			background-color: #dc0000;
			border-radius: 10px;
			box-shadow: 4px 2px 2px 0 rgba(155, 155, 155, 0.14);
			cursor: pointer;
		}
	}
	#videoControles {
		position: absolute;
	    right: 20px;
	    bottom: 20px;
	    @media #{$small-and-down} {
			right: 10px;
			bottom: 5px;
	    }
	    i {
	    	font-size: 25px;
	    	cursor: pointer;
	    	&:before {
				background: -webkit-linear-gradient(left, $purple-color 0%, $pink-color 100%);
				background: -moz-linear-gradient(left, $purple-color 0%, $pink-color 100%);
				background: -o-linear-gradient(left, $purple-color 0%, $pink-color 100%);
				background: -ms-linear-gradient(left, $purple-color 0%, $pink-color 100%);
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;	
	    	}
	    }
	}	
}

#intro-que-hacemos img{ width: 120px; }

#gallery .bg-image { 
	padding-bottom: 30%; 
	@media #{$sm-and-down}{ padding-bottom: 50%; }
}

/* PAGE */
.triangle-title {
	width: 0; 
	height: 0; 
	border-left-width: 100px;
    border-left-style: solid;
    -webkit-border-image: -webkit-gradient(linear, 0 0, 0 100%, from(black), to(rgba(0, 0, 0, 0))) 1 100%;
    -webkit-border-image: -webkit-linear-gradient(black, rgba(0, 0, 0, 0)) 1 100%;
    -moz-border-image: -moz-linear-gradient(black, rgba(0, 0, 0, 0)) 1 100%;    
    -o-border-image: -o-linear-gradient(black, rgba(0, 0, 0, 0)) 1 100%;
    border-image: linear-gradient(to bottom, black, rgba(0, 0, 0, 0)) 1 100%;
	//border-left:  solid #f0ad4e;
	border-top: 50px solid transparent;
	border-bottom: 50px solid transparent; 
}

/* Templete title complete */
#title-complete img {
	height: 50px;
    vertical-align: middle;
    margin-right: 20px;
}