a {
  text-decoration: none;
  color: $dark-color;
  cursor: pointer;
  transition: .3s ease-out;
  // Gets rid of tap active state
  -webkit-tap-highlight-color: transparent;
}

html{
  line-height: 1.5;
  color: $dark-color;
  font-size: 16px;
  line-height: 24px;
  font-family: $font-default;
  font-weight: 700;
  letter-spacing: 0.5px;
  & .fontfam-text{
    letter-spacing: 0.2;
  }
}
h1, h2, h3, h4, h5, h6 {
	line-height: 1.3;
  margin: 0px;
}

// Header Styles
h1 { font-size: $h1-fontsize;}
h2 { 
  font-size: $h2-fontsize;
  @media #{$small-and-down} { font-size: 20px; }
}
h3 { font-size: $h3-fontsize;}
h4 { font-size: $h4-fontsize;}
h5 { font-size: $h5-fontsize;}
h6 { font-size: $h6-fontsize;}

p { margin: 0px; }

// Text Styles
em                            { font-style: italic; }

small                         { font-size: 75%; }
.fz-medium                    { font-size: 20px; }
.fz-large                     { font-size: 26px; }

/* .font-thin                    { font-weight: 200; }
.font-normal                  { font-weight: 300; }
.font-strong, strong          { font-weight: 500; } */

.uppercase                    { text-transform: uppercase; }
.lowercase                    { text-transform: lowercase; }

.text-underline,
.text-underline-hover:hover   { text-decoration: underline; }

.text-center                  { text-align: center; } 
.text-left                    { text-align: left; }
.text-right                   { text-align: right; }
.text-justify                 { text-align: justify; }

/* INDEX */
#videoPortada h2 {
  font-size: 40px;
  color: #3e4b75;
  position: absolute;
  right: 50px;
  top: 30px;
  @media #{$sm-and-down}{ 
    font-size:  20px;
    right: 20px;
    top: 20px;
  }
}
#intro-que-hacemos .col p { 
  font-size: 20px;
  line-height: 26px;
  text-shadow: 2px 2px #33333345;
  @media (max-width: 870px ) {
    font-size: 15px;
  }
}
#intro-que-hacemos a:hover p {
  text-shadow: 2px 2px #00000045;
}

/* Heder-page */
.header-page, #body-page {
  strong {
    font-family: $font-default;
  }
  ul {
    padding: 0 20px;
    li {
      list-style-type: disc;
    }
  }
}
.header-page h2 { @extend .text-shadow; }
#body-page {
  color: $blue-color;
  a { 
    &:hover { 
      color: $uva-color;
      text-decoration: underline; 
    }
  }
  &.single {
    p { 
      margin-bottom: 15px; 
      text-align: justify;
    }
  }
}

.title-degrade {
  position: absolute;
  top: -20px;
  width: 100%;
  p {
    position: relative;
    width: 38%;
    margin: auto;
    color: $light-color;
    text-align: center;
    font-size: 20px;
    line-height: 40px;
    .icon-play {
      position: absolute;
      width: 50px;
      font-size: 46px;
      top: -3px;
      &.icon-triangle-left {
        left: -33px;
        transform: rotate(180deg);
      }
      &.icon-triangle-right {
        right: -31px;
      }
    }
    @media #{$small-and-down} { width: calc(98% - 100px); }
  }
}