
a {
  text-decoration: none;
  color: $dark-color;
  cursor: pointer;
  // Gets rid of tap active state
  -webkit-tap-highlight-color: transparent;
}

html{
  line-height: 1.5;
  color: $dark-color;
  font-family: $font-default;
  font-weight: 800;
  letter-spacing: 0.5px;
  & .fontfam-text{
    font-family: $font-text;
    font-weight: 500;
  }
}
h1, h2, h3, h4, h5, h6 {
	line-height: 1.3;
  margin: 0px;
}

// Header Styles
h1 { font-size: $h1-fontsize;}
h2 { font-size: $h2-fontsize;}
h3 { font-size: $h3-fontsize;}
h4 { font-size: $h4-fontsize;}
h5 { font-size: $h5-fontsize;}
h6 { font-size: $h6-fontsize;}

p { 
  margin: 0px;
  font-size: 12px;
  line-height: 20px;
}

// Text Styles
em                            { font-style: italic; }

small                         { font-size: 75%; }

/* .font-thin                    { font-weight: 200; }
.font-normal                  { font-weight: 300; }
.font-strong, strong          { font-weight: 500; } */

.uppercase                    { text-transform: uppercase; }
.lowercase                    { text-transform: lowercase; }

.text-underline               { text-decoration: underline; }
.text-underline-hover:hover   { text-decoration: underline; }

.text-center                  { text-align: center; } 
.text-left                    { text-align: left; }
.text-right                   { text-align: right; }

/* INDEX */
#intro-que-hacemos p { 
  font-size: 20px;
  line-height: 26px;
  @media (max-width: 870px ) {
    font-size: 15px;
  }
}