// ==========================================================================
// Utilities
// ==========================================================================



#intro-actividad {
	.col:first-child {
		position: relative;
		padding: 0px;
		img { margin-bottom: -6px; }
	}
	.link-actividad {
		position: absolute;
		top: 0px;
		bottom: 0px;
		right: 23%;
		a {
			position: absolute;
			display: block;
			padding: 15px 30px;
			color: $primary-color; 
			text-transform: uppercase;
			font-weight: 600;
			background-color: $light-color;
			&:first-child { 
				top: 28%;
			}
			&:nth-child(2) { 
				top: 48%;
				width: 220px;
				height: 44px;
				font-size: 14px;
			}
			&:nth-child(3) { 
				top: 68%; 
			}
			span {
				position: absolute;
				right: -22px;
				top: 0px;
				width: 0; 
				height: 0; 
				border-left: 22px solid $light-color;
				border-top: 22px solid transparent;
				border-bottom: 22px solid transparent;
			}
			&:hover {
				color: $orange-color;
			}
		}
		@media #{$medium-only} {
			right: 25%;
			a {
				padding: 10px 20px;
			}
		}
		@media #{$large-and-up} {
			a {
				&:nth-child(2) { width: 240px; }
				&:first-child, &:nth-child(3) {
					span {
						right: -27px;
						border-left: 27px solid $light-color;
						border-top: 27px solid transparent;
						border-bottom: 27px solid transparent;						
					}					
				}
			}
		}
		@media #{$sm-and-down} {
			position: relative;
			top: inherit;
			bottom: inherit;
			right: inherit;
			img { margin-bottom: -1px; }			
			a {
				position: relative;
				width: 100%!important;
				margin-bottom: -1px;
				span { display: none; }
			}
		}
	} 	
} 

/* TEMPLATE Content Complete */
#header-page-complete {
	position: relative;
	border-bottom: 5px solid $orange-color;
	.container-limit.content-center { width: 90%; }
}

/* Preguntas frecuentes */
#preguntasFrecuentes {
	h2 {
		font-size: 16px;
		cursor: pointer;
		.minor, .more { 
			display: inline-block;
			width: 10px;
			opacity: 0.7; 
		}
		.minor { display: none; }
		& + .content-faq { 
			display: none; 
			padding-top: 10px;
			transition: .3s ease-out;
		}
		&.active {
			color: $purple-color;
			& .minor { display: inline-block; }
			& .more { display: none; }
			& + .content-faq { display: block; }
		}
	}
}