// ==========================================================================
// Utilities
// ==========================================================================



#intro-actividad {
	overflow: hidden;
	/* .col_actividad { max-width: 600px; } */
	.content-actividad {
		position: relative;
		width: 100%;
		max-width: 450px;
		margin: auto;
		img { 
			position: relative;
			filter: drop-shadow(-5px 1px 5px #d0d0d0);
			-webkit-filter: drop-shadow(-5px 1px 5px #d0d0d0);
		}
		a:not(.link-text) {
			position: absolute;
			transform: rotate(45deg);
			z-index: 3;
			span { 
				position: absolute;
				opacity: 0; 
			}
			&.link-necesitas-ayuda {
				top: 5%;
			    width: 30%;
			    margin-left: 41%;
			    padding-bottom: calc(30%);
			}
			&.link-logros {
			    top: 24%;
			    width: 27%;
			    margin-left: 62%;
			    padding-bottom: calc(27%);
			}
			&.link-historias-vida {
			    bottom: 19%;
			    width: 26%;
			    margin-left: 69%;
			    padding-bottom: calc(26%);
			}
			&.link-colabora {
			    bottom: 5%;
			    width: 24%;
			    margin-left: 51%;
			    padding-bottom: calc(24%);
			}
			&:hover {
				background-color: rgba(255, 255, 255, 0.08);
			}
		}
	}
	a.link-text{
		position: absolute;
		background-color: $light-color;
		color: $blue-color;
		padding: 15px 15px 15px 110px;
		font-size: 20px;
		&:hover { text-decoration: underline; }
		&.link-necesitas-ayuda {
			right: -39%;
			top: 2%;
		}
		&.link-logros {
			right: -49%;
			top: 25%;
		}
		&.link-historias-vida {
			right: -52%;
			top: 65%;
		}
		&.link-colabora {
			right: -23%;
			top: 90%;
		}
		@media #{$sm-and-down}{ display: none; }
		@media #{$large-and-up}{
			&.link-necesitas-ayuda 	{ right: -40%; }
			&.link-logros 			{ right: -50%; }
			&.link-historias-vida 	{ right: -70%; }
			&.link-colabora 		{ right: -25%; }	
		}
		& .icon-play {			
			position: absolute;
			top: -3px;
			right: -61px;
			color: $light-color;
			font-size: 60px;
		}
	}
	.bg-absolute {
		@media #{$medium-and-up} { 
			right: 62%; 
			/* max-width: 300px; */
		}
		@media #{$large-and-up} { right: 65%; }
	}
	.bg-square {
		position: absolute;
		top: 50%;
	    height: 700px;
	    width: 700px;
	    transform: translateY(-50%) rotate(45deg);
	    @media #{$sm-and-down} { display: none; }
	    @media #{$medium-and-up} { right: -4%; }
		@media #{$large-and-up} { right: -7%; }
		@media #{$extra-large-and-up} { right: 2%; }
	}
}

/* Preguntas frecuentes */
#preguntasFrecuentes {
	h2 {
		font-size: 16px;
		cursor: pointer;
		.minor, .more { 
			display: inline-block;
			width: 10px;
			opacity: 0.7; 
		}
		.minor { display: none; }
		& + .content-faq { 
			display: none; 
			padding-top: 10px;
			transition: .3s ease-out;
			ul, p { margin-bottom: 10px; }
		}
		&.active {
			color: $pink-color;
			& .minor { display: inline-block; }
			& .more { display: none; }
			& + .content-faq { display: block; }
		}
	}
}

#testimoniales {
	@media #{$sm-and-down} {
		margin-top: 0px;
		.padding-right-50 { padding-right: 0px; }
		.padding-left-50 { padding-left: 0px; }
		h3 {
			text-align: left;
			max-width: calc(100% - 60px);
		}
		.margin-bottom-75:last-child { margin-bottom: 0px; }
	}
}

