// ==========================================================================
// Utilities
// ==========================================================================



#intro-actividad {
	.content-actividad {
		position: relative;
		width: 100%;
		max-width: 450px;
		margin: auto;
		a {
			position: absolute;
			transform: rotate(45deg);
			span { 
				position: absolute;
				opacity: 0; 
			}
			&.link-necesitas-ayuda {
				top: 5%;
			    width: 30%;
			    margin-left: 41%;
			    padding-bottom: calc(30%);
			}
			&.link-logros {
			    top: 24%;
			    width: 27%;
			    margin-left: 62%;
			    padding-bottom: calc(27%);
			}
			&.link-historias-vida {
			    bottom: 19%;
			    width: 26%;
			    margin-left: 69%;
			    padding-bottom: calc(26%);
			}
			&.link-colabora {
			    bottom: 5%;
			    width: 24%;
			    margin-left: 51%;
			    padding-bottom: calc(24%);
			}
			&:hover {
				background-color: rgba(255, 255, 255, 0.08);
			}
		}
	}
} 

/* TEMPLATE Content Complete */
#header-page-complete {
	position: relative;
	border-bottom: 5px solid $orange-color;
	.container-limit.content-center { width: 90%; }
}

/* Preguntas frecuentes */
#preguntasFrecuentes {
	h2 {
		font-size: 16px;
		cursor: pointer;
		.minor, .more { 
			display: inline-block;
			width: 10px;
			opacity: 0.7; 
		}
		.minor { display: none; }
		& + .content-faq { 
			display: none; 
			padding-top: 10px;
			transition: .3s ease-out;
			ul, p { margin-bottom: 10px; }
		}
		&.active {
			color: $pink-color;
			& .minor { display: inline-block; }
			& .more { display: none; }
			& + .content-faq { display: block; }
		}
	}
}

#testimoniales {
	@media #{$sm-and-down} {
		margin-top: 0px;
		.padding-right-50 { padding-right: 0px; }
		.padding-left-50 { padding-left: 0px; }
		h3 {
			text-align: left;
			max-width: calc(100% - 60px);
		}
		.margin-bottom-75:last-child { margin-bottom: 0px; }
	}
}