// ==========================================================================
// Variables
// ==========================================================================

// Colors
// ==========================================================================

//blue color;
$primary-color: 		#3f5484 !default;
$primary-color-light: lighten($primary-color, 15%) !default;
$primary-color-dark: darken($primary-color, 15%) !default;

$light-color: 			#fff !default;
$dark-color: 			#000 !default;

$orange-color: 			#ef8f47 !default;
$orange-color-light: 	lighten($orange-color, 15%) !default;
$orange-color-xlight: 	lighten($orange-color, 25%) !default;
$pink-color-light:		#e2647c !default;

$blue-color: 			#3b5182 !default;
$purple-color: 			#48476f !default;
$uva-dark-color: 		#6a4a73 !default;
$uva-color: 			#804971 !default;
$pink-color: 			#e55e78 !default;
$yellow-color: 			#f5dc8a !default;

$red-dark-color: 		#d90000 !default;

$uva-color-light:		lighten($uva-color, 15%) !default;
$pink-color-light:		lighten($pink-color, 15%) !default;

// Global
// ==========================================================================

// Media Query Ranges
$small-screen-up: 		430px !default;
$sm-screen: 			431px !default;
$sm-screen-up: 			600px !default;
$medium-screen: 		601px !default;
$medium-screen-up: 		992px !default;
$large-screen: 			993px !default;
$large-screen-up: 		1200px !default;
$xlarge-screen: 		1201px !default;


$small-and-down: 		"only screen and (max-width : #{$small-screen-up})" !default;
$sm-and-down: 			"only screen and (max-width : #{$sm-screen-up})" !default;
$sm-only: 				"only screen and (min-width : #{$sm-screen}) and (max-width : #{$sm-screen-up})" !default;
$sm-and-up: 			"only screen and (min-width : #{$sm-screen})" !default;
$medium-and-down: 		"only screen and (max-width : #{$medium-screen-up})" !default;
$medium-only: 			"only screen and (min-width : #{$medium-screen}) and (max-width : #{$medium-screen-up})" !default;
$medium-and-up: 		"only screen and (min-width : #{$medium-screen})" !default;
$large-and-down: 		"only screen and (max-width : #{$large-screen-up})" !default;
$large-only: 			"only screen and (min-width : #{$large-screen}) and (max-width : #{$large-screen-up})" !default;
$large-and-up: 			"only screen and (min-width : #{$large-screen})" !default;
$extra-large-and-up:	"only screen and (min-width : #{$large-screen-up})" !default;


// Grid
// ==========================================================================
$num-cols: 				12 !default;
$gutter-width: 			1.5rem !default;


// Margin & Padding
// ==========================================================================
$box-space: 			30px !default;

// Size
// ==========================================================================
$size-percent:			100 !default;

// Typography
// ==========================================================================
@font-face {
    font-family: "myriad_proregular";
    src: url("../fonts/myriad_pro_regular-webfont.eot");
    src: url("../fonts/myriad_pro_regular-webfont.eot?#iefix") format("embedded-opentype"),
         url("../fonts/myriad_pro_regular-webfont.woff") format("woff"),
         url("../fonts/myriad_pro_regular-webfont.ttf") format("truetype"),
         url("../fonts/myriad_pro_regular-webfont.svg#myriad_proregular") format("svg");
    font-weight: normal;
    font-style: normal;
}
$font-default: 			"myriad_proregular", sans-serif !default;

// Header Styles
$h1-fontsize: 			32px !default;
$h2-fontsize: 			30px !default;
$h3-fontsize: 			18px !default;
$h4-fontsize: 			16px !default;
$h5-fontsize: 			13px !default;
$h6-fontsize: 			12px !default;

