/* General styles admin */

/* Forms style */
.gi-custom-fields, .gi-custom-fields tbody { 
	width: 100%; 
	text-align: left;
}
.gi-custom-fields input[type="text"],
.gi-custom-fields input[type="date"],
.gi-custom-fields input[type="number"],
.gi-custom-fields input[type="email"],
.gi-custom-fields textarea,
.gi-custom-fields select {
	width: 100%;
	min-height: 40px;
	padding: 0 5px;
	margin: 0px;
	font-weight: 400;
    line-height: 40px;   
}
.gi-custom-fields .button.image-upload {
	float: right;
    margin-top: 3px;
    color: #fff;
    background-color: #48476f;
}
.gi-custom-fields .button.image-upload:hover { background-color: #3e4b75; }

#normal-sortables .postbox,
#side-sortables .postbox:not(#submitdiv):not(#postimagediv):not(#tax_tipo_articulodiv) { border-color: #48476f; }
#normal-sortables h2,
#side-sortables .postbox:not(#submitdiv):not(#postimagediv):not(#tax_tipo_articulodiv) h2 {
	color: #fff;
	background-color: #48476f;
}